/* Container Background */
@import url(./colors.css);

.age-calculator-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.age-calculator-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.age-calculator-box {
  border-radius: 12px;
  display: flex;
  gap: 50px;
  padding:50px 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  width: 100%;
  height: max-content;
  align-items: center;
  background-color: var(--white);
}
.label{
  color: var(--text-color);
  font-weight: 700;
}

/* Date Inputs */
input[type="date"] {
  margin-top: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline: none;
   background-color: var(--bg-color);
  color: var(--text-color);
}

.result-go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: max-content;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #e31c5f;
  border-radius: 0 4px 0 32px;
}
.result-box {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  width: max-content;
  background-color: var(--white);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.result-box p{
  font-size: 1rem;
  font-weight: 500;
}
.result-box span{
  font-size: 2rem;
  font-weight: 700;
}
.result-box:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #e31c5f;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 85% 50%;
  color:var(--white);
  transition: transform 0.25s ease-out;
}

.result-box:hover:before {
  transform: scale(21);
}

.result-box:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.result-box:hover span {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.result-box:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}