$bg-color: #ededed;
$white: #ffffff;
$primary: #e31c5f;
$text-color: #222222;
$muted-text: #ccd1cc;
$border: #dddddd;
$box-shadow-dark:rgba(0, 0, 0, 0.1);
$box-shadow-medium: #7e7d7d;
$box-shadow-light:#c5c5c5;
$hover: #c9114e;
$error-message: #ff0000;
$success-message: #00ff00;
$warning-message: #ffa500;