@use "_colors" as *;
@use "_fonts" as *;

@mixin go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: $primary;
  border-radius: 0 4px 0 32px;
}

@mixin card {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  background-color: $bg-color;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  p {
    font-size: $font-base;
    font-weight: 500;
  }

  span {
    font-size: $font-extra-large;
    font-weight: 700;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: $primary;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &:before {
      transform: scale(21);
    }

    p {
      transition: all 0.3s ease-out;
      color: $bg-color;
      font-weight: 500;
    }

    span {
      transition: all 0.3s ease-out;
      color: $bg-color;
    }

    h3 {
      transition: all 0.3s ease-out;
      color: $white;
    }
  }
}
